// Palette from: https://coolors.co/
// eerie_black: #131515
// jet: #2B2C28
// persian_green: #339989
// middle_blue_green: #7DE2D1
// snow: #FFFAFB

\:root
    font-size: 16px
    --bgr: #2B2C28
    --primary: #FFFAFB
    --accent: #339989

    --font-primary: 'Libre Baskerville', serif
    --font-secondary: 'Source Sans Pro', sans-serif

html, body
    width: 100%
    height: 100%
    margin: 0
    padding: 0

html
    background-color: var(--bgr)

body
    overflow-x: hidden

*, *::before, *::after
    padding: 0
    margin: 0
    box-sizing: border-box
    list-style-type: none

.wrapper
    height: 100%
    width: 100%
    padding: 35px

canvas
    display: block
    margin: auto
    outline: thin solid white
    width: 100%

#save-text
    color: rgba(255, 255, 255, 0.8)
    text-align: center
    padding: 25px 0

#generate-new
    border: medium solid var(--accent)
    background: black
    border-radius: 5px
    color: #7DE2D1
    cursor: pointer
    padding: 5px
    transition: transform .1s
    display: block
    margin: auto
    &:hover
        transform: scale(1.2)

// -------- generic styles --------

.input
    margin-top: 2px
    font-size: 1.1rem
    padding: 8px
    width: 100%
    color: var(--bgr)
    border: thin solid rgba(0, 0, 0, .4)
    font-family: var(--font-secondary)
    border-radius: 5px
    transition: box-shadow .1s
    &:focus
        box-shadow: 0 0 2px var(--accent)
        border-color: var(--accent)

.label
    display: flex
    flex-direction: column-reverse
    position: relative
    left: 3px
    font-family: var(--font-secondary)
    font-weight: 400
    text-transform: uppercase
    color: rgba(0, 0, 0, .7)

details
    width: 100%
    summary
        list-style-type: none

@import "menu"
