// Palette: https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557

$prim: #e63946
$sec: white
$sec-dark: #a8dadc
$ter: #457b9d

html, body
    width: 100%
    height: 100%
    margin: 0
    padding: 0

// body
//     padding: 10px

p, li, label
    color: $sec

canvas
    outline: thin solid $sec
    width: 90%

html
    background-color: #1d3557
